@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    background-color: #D4D4D4;
}

$gray: #474747;
$blue: #438CD6;
$green: #05A763;
$min-margin: 10px;
$max-margin: 160px;
$after-heading-margin: 85px;


%full-width-block{
    width: 100%;
    height: 450px;
}

@mixin white-text-with-weight($size, $weight){
    font-family: 'Montserrat', sans-serif;
    font-size: $size;
    font-weight: $weight;
    color: white;
}
@mixin white-text($size){
    font-family: 'Montserrat', sans-serif;
    font-size: $size;
    color: white;
}
@mixin gray-text-with-weight($size, $weight){
    font-family: 'Montserrat', sans-serif;
    font-size: $size;
    font-weight: $weight;
    color: $gray;
}
@mixin gray-text($size){
    font-family: 'Montserrat', sans-serif;
    font-size: $size;
    color: $gray;
}
@mixin set-block($width, $height, $background){
    width: $width;
    height: $height;
    background-color: $background;
}


.white-header{
    font-family: 'Montserrat', sans-serif;
    font-size: 55px;
    font-weight: 700;
    color: white;
}
.gray-header{
    font-family: 'Montserrat', sans-serif;
    font-size: 55px;
    font-weight: 700;
    color: $gray;
}



.code-img-block{
    @extend %full-width-block;
    background-image: url(img/code.png);
    .code-background{
        width: 100%;
        height: 100%;
        background-color: rgba(67, 140, 214, 0.26);
    }
}
.wrapper{
    width: 100%;
    padding: 150px 0;
    position: absolute;
}
.container{
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}
.mb{
    margin-bottom: $max-margin;
}
.visit-block{
    @include set-block(100%, 698px, $green);
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    .my-photo-block{
        width: 45%;
    }
    .info-text{
        width: 100%;
        padding: 90px 75px 90px 250px;
        text-align: right;
        .main-info{
            margin-bottom: 30px;
            .my-name{
                width: 100%;
            }
            > div{
                margin-bottom: $min-margin;
                .job-name{
                    @include white-text-with-weight(22px, 500);
                }
                .blue-line{
                    display: inline-block;
                    background-color: $blue;
                    height: 15px;
                }
                .min{
                    width: 26px;
                    margin-right: 10px;
                }
                .max{
                    width: 90%;
                }
            }
        }
    }
    .contacts{
        display: inline-block;
        width: 85%;
        padding: 10px 10px 0 65px;
        text-align: left;
        margin-bottom: 30px;
        .contact{
            margin-bottom: 17px;
            i{
                color: white;
                margin-right: 24px;
            }
            @include white-text-with-weight(22px, 500);
        }
    }
    .social-networks{
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: space-between;
    }
}
.about-me{
    background-color: $blue;
    padding: 40px 0;
    .white-header{
        text-align: center;
        margin-bottom: 40px;
    }
    .text{
        @include white-text-with-weight(27px, normal);
    }
}
.heading{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin-bottom: $after-heading-margin;
    div{
        margin-right: 35px;
    }
}
.establishments{
    display: flex;
    gap: 20px;
}
.establishment{
    width: 100%;
    padding: 38px 50px;
    background-color: $gray;
    border-radius: 15px;
    display: grid;
    
    .establishment-name{
        text-align: center;
        @include white-text-with-weight(45px, 500);
        margin-bottom: 40px;
    }
    ul{
        display: block;
        @include white-text-with-weight(27px, 300);
        margin-bottom: 40px;
    }
    .date{
        display: grid;
        text-align: center;
        align-items: end;
        @include white-text-with-weight(16px, 300);
    }
}

.level{
    .experience{
        display: inline-block;
        width: 43.5%;
        background-color: white;
        padding: 30px 60px 30px 40px;
        border-left: 5px $blue solid;
        .experience-name{
            @include gray-text-with-weight(24px, 600);
            margin-bottom: 10px;
        }
        .experience-info{
            @include gray-text-with-weight(22px, 300);
            margin-bottom: 10px;
        }
        li{
            @include gray-text-with-weight(19px, 300);
        }
    }
    .line{
        display: inline-block;
        background-color: $green;
        
    }
    .circle{
        display: inline-block;
        width: 60px;
        height: 60px;
        background-color: $green;
        border-radius: 60px;
        
    }
    &.lv1{ 
        .line{
            position: absolute;
        }
        
        .horizontal{
            width: 100px;
            height: 2px;
            margin-top: 30px;
        }
        .vertical{
            width: 2px;
            height: 358px;
            margin-left: 125px;
        }
        .circle{
            margin-left: 95px;
            position: absolute;
        }
    }
    &.lv2{
        display: flex;
        justify-content: right;
        .horizontal{
            width: 100px;
            height: 2px;
            margin-top: 30px;
        }
        .vertical{
            width: 2px;
            height: 358px;
            margin-left: 125px;
        }
        .circle{
            margin-left: 95px;
        }
    }
}

