@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    background-color: #D4D4D4;
}

$gray: #474747;
$blue: #438CD6;
$green: #05A763;
$min-margin: 10px;
$max-margin: 160px;
$after-heading-margin: 85px;


%full-width-block{
    width: 100%;
    height: 450px;
}

@mixin white-text-with-weight($size, $weight){
    font-family: 'Montserrat', sans-serif;
    font-size: $size;
    font-weight: $weight;
    color: white;
}
@mixin white-text($size){
    font-family: 'Montserrat', sans-serif;
    font-size: $size;
    color: white;
}
@mixin gray-text-with-weight($size, $weight){
    font-family: 'Montserrat', sans-serif;
    font-size: $size;
    font-weight: $weight;
    color: $gray;
}
@mixin gray-text($size){
    font-family: 'Montserrat', sans-serif;
    font-size: $size;
    color: $gray;
}
@mixin set-block($width, $height, $background){
    width: $width;
    height: $height;
    background-color: $background;
}


.white-header{
    font-family: 'Montserrat', sans-serif;
    font-size: 55px;
    font-weight: 700;
    color: white;
}
.gray-header{
    font-family: 'Montserrat', sans-serif;
    font-size: 55px;
    font-weight: 700;
    color: $gray;
}



.code-img-block{
    @extend %full-width-block;
    background-image: url(img/code.png);
    .code-background{
        width: 100%;
        height: 100%;
        background-color: rgba(67, 140, 214, 0.26);
    }
}
.wrapper{
    width: 100%;
    padding: 150px 0;
    position: absolute;
}
.container{
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}
.mb{
    margin-bottom: $max-margin;
}
.visit-block{
    @include set-block(100%, 698px, $green);
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    .my-photo-block{
        width: 45%;
    }
    .info-text{
        width: 100%;
        padding: 90px 75px 90px 250px;
        text-align: right;
        .main-info{
            margin-bottom: 30px;
            .my-name{
                width: 100%;
            }
            > div{
                margin-bottom: $min-margin;
                .job-name{
                    @include white-text-with-weight(22px, 500);
                }
                .blue-line{
                    display: inline-block;
                    background-color: $blue;
                    height: 15px;
                }
                .min{
                    width: 26px;
                    margin-right: 10px;
                }
                .max{
                    width: 90%;
                }
            }
        }
    }
    .contacts{
        display: inline-block;
        width: 85%;
        padding: 10px 10px 0 65px;
        text-align: left;
        margin-bottom: 30px;
        .contact{
            margin-bottom: 17px;
            i{
                color: white;
                margin-right: 24px;
            }
            @include white-text-with-weight(22px, 500);
        }
    }
    .social-networks{
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: space-between;
    }
}
.about-me{
    background-color: $blue;
    padding: 40px 0;
    .white-header{
        text-align: center;
        margin-bottom: 40px;
    }
    .text{
        @include white-text-with-weight(27px, normal);
    }
}
.heading{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin-bottom: $after-heading-margin;
    div{
        margin-right: 35px;
    }
}
.establishments{
    display: flex;
    gap: 20px;
}
.establishment{
    width: 100%;
    padding: 38px 50px;
    background-color: $gray;
    border-radius: 15px;
    display: grid;
    
    .establishment-name{
        text-align: center;
        @include white-text-with-weight(45px, 500);
        margin-bottom: 40px;
    }
    ul{
        display: block;
        @include white-text-with-weight(27px, 300);
        margin-bottom: 40px;
    }
    .date{
        display: grid;
        text-align: center;
        align-items: end;
        @include white-text-with-weight(16px, 300);
    }
}
.experience-block{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: repeat(3, fit-content); 
    
    .experience{
        display: inline-block;
        background-color: white;
        padding: 30px 60px 30px 40px;
        border-left: 5px $blue solid;
        .experience-name{
            @include gray-text-with-weight(24px, 600);
            margin-bottom: 10px;
        }
        .experience-info{
            @include gray-text-with-weight(22px, 300);
            margin-bottom: 10px;
        }
        li{
            @include gray-text-with-weight(19px, 300);
        }
    }
    .gr1{
        grid-area: 1 / 1 / 2 / 2;
    }

    .figure{
        grid-area: 1 / 2 / 3 / 3;
        
    }
    .gr2{
        grid-area: 2 / 3 / 3 / 4;
    }
    .gr3{
        grid-area: 3 / 1 / 4 / 2;
    }
    .vertical-line{
        @include set-block(2px, 100%, $green);
        margin-left: 50%;
    }
}
.circle-wrapper{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 50% 50%;
    &.odd{
        .circle{
            right: 30px;
        }
    }
    &.even{
        .even-first-block{
            display: flex;
            justify-content: end;
        }
        .circle{
            left: 30px;
        }
    }
    .horizontal-line{
        @include set-block(100%, 2px, $green);
        margin-top: 30px;
    }
    .circle{
        @include set-block(60px, 60px, $green);
        border-radius: 60px;
        position: relative;
    }
}
.gr4{
    grid-area: 1 / 2 / 2 / 3;
}
.gr5{
    grid-area: 2 / 2 / 3 / 3;
}
.gr6{
    grid-area: 3 / 2 / 4 / 3;;
}
.skills{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    
    .skills-block{
        background-color: $green;
        border-radius: 20px;
        padding: 50px 35px;
        .skills-head{
            font-size: 36px;
            font-weight: 800;
            margin-bottom: 50px;

        }
        > div{
            font-weight: 700;
            .skill{
                font-size: 20px;
                margin-bottom: 10px;
                display: flex;
                justify-content: space-between;
            }
            .progress-line{
                @include set-block(100%, 5px, $gray);
                position: relative;
                .upload{
                    background-color: white;
                    height: 100%;
                }
                
            }
            .progress-circle{
                @include set-block(25px, 25px, white);
                border-radius: 25px;
                position: relative;
                z-index: 1;
                
            }
            .progress{
                margin-bottom: 20px;
                &.pg1{
                    .progress-line{
                        .upload{
                            width: 60%;
                        }
                        bottom: 15px;
                    }
                    .progress-circle{
                        left: 60%;
                        margin-left: -12.5px;
                    }
                }
                &.pg2{
                    .progress-line{
                        .upload{
                            width: 75%;
                        }
                        bottom: 15px;
                    }
                    .progress-circle{
                        left: 75%;
                        margin-left: -12.5px;
                    }
                }
                &.pg3{
                    .progress-line{
                        .upload{
                            width: 40%;
                        }
                        bottom: 15px;
                    }
                    .progress-circle{
                        left: 40%;
                        margin-left: -12.5px;
                    }
                }
                &.pg4{
                    .progress-line{
                        .upload{
                            width: 90%;
                        }
                        bottom: 15px;
                    }
                    .progress-circle{
                        left: 90%;
                        margin-left: -12.5px;
                    }
                }
                &.pg5{
                    .progress-line{
                        .upload{
                            width: 80%;
                        }
                        bottom: 15px;
                    }
                    .progress-circle{
                        left: 80%;
                        margin-left: -12.5px;
                    }
                }
                &.pg6{
                    .progress-line{
                        .upload{
                            width: 68%;
                        }
                        bottom: 15px;
                    }
                    .progress-circle{
                        left: 68%;
                        margin-left: -12.5px;
                    }
                }
                &.pg7{
                    .progress-line{
                        .upload{
                            width: 50%;
                        }
                        bottom: 15px;
                    }
                    .progress-circle{
                        left: 50%;
                        margin-left: -12.5px;
                    }
                }
                &.pg8{
                    .progress-line{
                        .upload{
                            width: 40%;
                        }
                        bottom: 15px;
                    }
                    .progress-circle{
                        left: 40%;
                        margin-left: -12.5px;
                    }
                }
                &.pg9{
                    .progress-line{
                        .upload{
                            width: 90%;
                        }
                        bottom: 15px;
                    }
                    .progress-circle{
                        left: 90%;
                        margin-left: -12.5px;
                    }
                }
                &.pg10{
                    .progress-line{
                        .upload{
                            width: 90%;
                        }
                        bottom: 15px;
                    }
                    .progress-circle{
                        left: 90%;
                        margin-left: -12.5px;
                    }
                }
                &.pg11{
                    .progress-line{
                        .upload{
                            width: 35%;
                        }
                        bottom: 15px;
                    }
                    .progress-circle{
                        left: 35%;
                        margin-left: -12.5px;
                    }
                }
                &.pg12{
                    .progress-line{
                        .upload{
                            width: 30%;
                        }
                        bottom: 15px;
                    }
                    .progress-circle{
                        left: 30%;
                        margin-left: -12.5px;
                    }
                }
                &.pg13{
                    .progress-line{
                        .upload{
                            width: 50%;
                        }
                        bottom: 15px;
                    }
                    .progress-circle{
                        left: 50%;
                        margin-left: -12.5px;
                    }
                }
            }
        }
    }
}
.project{
    margin-bottom: 90px;
    img{
        position: absolute;
        z-index: 1;
    }
    .wrapper-proj{
        width: 100%;
        .project-info{
            height: 435px;
            max-height: 435px;
            position: relative;
            width: 78%;
            background-color: white;
            border-top: 5px solid $blue;
            padding: 40px 30px 40px 150px;
            left: 393px;
            top: 50px;
            .project-name{
                text-align: right;
                @include gray-text-with-weight(55px, 800);
                margin-bottom: 10px;
            }
            .project-repo{
                text-align: right;
                font-family: 'Montserrat', sans-serif;
                font-weight: 500;
                font-size: 14px;
                margin-bottom: 10px;
            }
            .green-line-wrapper{
                text-align: right;
                margin-bottom: 10px;
            }
            .green-line{
                display: inline-block;
                background-color: $green;
                height: 17px;
                &.min{
                    width: 25px;
                    margin-right: 17px;
                }
                &.max{
                    width: 60%;
                }
            }
            .project-text{
                @include gray-text(15px);
                span{
                    font-weight: 600;
                }
            }
            .triangle{
                position: absolute;
                border-top: 57px solid $gray;
                border-right: 42px solid transparent;
                bottom: 0px;
                right: 100%;
                left: 0px;
            }
        }
    }
}